.inplabel{
    font-size: 0.8rem;
    color: #828080;
}
.titInfo{
    color: #28675E;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
}
.textInfo{
    color: #757575;
    font-size: 0.9rem;
}