<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        NÚMERO CELULAR
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content *ngIf="body != null">
    <ion-item>
      <ion-img class="" [src]="IMG_STATE"></ion-img>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-img class="imgCoink" [src]="IMG_COINK"></ion-img>
        </ion-col>
        <ion-col size="8" class="ion-align-self-center">
          <ion-item>
            <label class="titInfo">Configura tu cuenta</label>
          </ion-item>
          <ion-item>
              <label class="textCelLabel">Escribe el correo que estará vinculado a tu cuenta</label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr class="hrCel">
    <ion-grid>
      <form [formGroup]="form">
        <ion-row>
          <ion-item style="width: 100%;">
            <ion-label position="floating" class="inplabel">Correo electrónico</ion-label>
            <ion-input  [(ngModel)]="body.email" type="email" inputmode="email" formControlName="email"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item style="width: 100%;">
              <ion-label position="floating" class="inplabel">Confirmar correo electrónico</ion-label>
              <ion-input type="email" inputmode="email" formControlName="email_confirm"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item style="width: 100%;">
              <ion-label position="floating" class="inplabel">PIN de seguridad</ion-label>
              <ion-input  type="number" inputmode="number" [(ngModel)]="body.pin" formControlName="pin"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
            <ion-item style="width: 100%;">
              <ion-label position="floating" class="inplabel">Confirmar PIN de seguridad</ion-label>
              <ion-input  type="number" inputmode="number" formControlName="pin_confirm"></ion-input>
            </ion-item>
          </ion-row>
      </form>
    </ion-grid>
    <div>
      <ion-button (click)="next()" color="primary" expand="block" shape="round" class="btnRegister" [disabled]="form.invalid" >Continuar</ion-button>
    </div>
  </ion-content>
  