<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      NÚMERO CELULAR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="body != null">
  <ion-item>
    <ion-img class="" [src]="IMG_STATE"></ion-img>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-img class="imgCoink" [src]="IMG_COINK"></ion-img>
      </ion-col>
      <ion-col size="8" class="ion-align-self-center">
          <label class="textCelLabel">Digita el código que recibiste vía
            <p class="textCel">mensaje de texto</p> al {{body.phone_number}}</label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr class="hrCel">
  <ion-item>
    <ion-input type="number" [(ngModel)]="body.pin" style="text-align: center;" placeholder="XXXX"></ion-input>
  </ion-item>
  <div>
      <ion-button (click)="next()" color="primary" expand="block" shape="round" class="btnRegister">Continuar</ion-button>
    </div>
</ion-content>
